header {
    padding:25px;
    background-color: rgba(70, 62, 124, 0.27);
    display: flex;
    justify-content: center;
    -webkit-box-shadow: 0 10px 13px -7px #000000, 50px -50px 3px 50px rgba(0,0,0,0);
    box-shadow: 0 10px 13px -7px rgba(0, 0, 0, 0.42), 50px -50px 3px 50px rgba(0,0,0,0);
    margin-bottom: 15px;
    font-weight: bold;
    font-size: x-large;
}
nav {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}
label, .submit-input {
    margin-top: 15px;
    margin-bottom: 15px;
}

.my-table thead tr th {
    background-color: #f3d521;
}
.not-set {
    color: red;
}



